 <div class="picture">
        <h1 style="color:rgba(94, 39, 39, 0.743); font-weight:bold"> Current Blogs
        </h1>
        <h2>placeholder</h2>
      
        <h2>placeholder</h2>
        <br><br>
        
     
      </div>