<div class="picture" style="float: left; display: inline";>
  <h1 style="color:rgba(94, 39, 39, 0.743); font-weight:bold;">Sign Up</h1>
</div>
<div class="picture" style="float: right; display: inline;">
  <h1 style="color:rgba(94, 39, 39, 0.743); font-weight:bold;">Sign In</h1>
</div>