
<div class="signIn">
  <h1 style="color:rgba(94, 39, 39, 0.743); font-weight:bold;">All Blogged Out?</h1>
  <h2> See Ya Later!</h2>
    <button class="logoutBtn" type="submit" id="logout">Logout</button>
  
</div>

<script src="/js/logout.js"></script>