<div class="signIn">

  <h1 style="color:rgba(94, 39, 39, 0.743); font-weight:bold;">All Blogged Out?</h1>
  <h2 class="logout">You are now logged out.</h2>
  <h2 class="logout">See Ya Later!</h2>

</div>