<div class="home">
    <h1 style="color:rgba(94, 39, 39, 0.743); font-weight:bold">Update Blog</h1>
    <div class="form-group">
      <label for="updateblog" class="update">update title:</label>
      <br>
      <textarea id="updateBlogTitle" name="updateTitle" rows="1" cols="60">{{blog.title}}</textarea>
    </div>
    <div class="form-group">
      <label for="updateblog">update your blog:</label>
      <br>
      <textarea id="updateBlogBody" name="updateBody" rows="10" cols="60">{{blog.content}}</textarea>
    </div>

 <form class="update">
<button class="updateBtn" type="submit">Update Post</button>
 </form>
</div>

<script src="/js/update.js"></script>