/* Full styling */
body {
    background-image: url("../images/vintage-typewriter.jpg");
    background-size: cover; 
    background-attachment: fixed;
    background-repeat: no-repeat; 
    font-family: 'Special Elite', cursive;
}

nav {

    background-image: linear-gradient(to bottom right, rgb(49, 25, 25), rgba(94, 39, 39, 0.743));
    margin: 0;
    width: 100%;
    height: 150px;
    
}

a {
 color: white;
 text-decoration: none;
}

a:visited {
    color: white;
}

h1 {
    text-align: center;
    font-size: 50px;
    margin: 0 auto;
}

.links {
    padding: 30px;
    font-size: 25px;
}

.home {
margin: 0 auto;
margin-top: 100px;
  width: 50%;
  padding: 10px;
  justify-self: center;
  background-color: rgb(250, 244, 219);
  border-radius: 25px;
  border: 5px solid rgb(49, 25, 25);
   
}

footer {
    position: fixed;
    height: 50px;
    background-image: linear-gradient(to bottom left, rgb(49, 25, 25), rgba(94, 39, 39, 0.743));
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
    color: white;
    text-align: center;
    justify-content: center;
}

/* sign in styling  */

.signIn {
    margin: 0 auto;
    margin-top: 100px;
      width: 40%;
      padding: 10px;
      background-color: rgb(250, 244, 219);
      border-radius: 25px;
      border: 5px solid rgb(49, 25, 25);
}

.login {
    font-size: 20px;
}

.form-input{
    width: 90%;
    height: 25px;
}

.loginBtn {
    background-color: rgb(49, 25, 25);
    color: white;
    height: 40px;
    width: 100px;
    font-family: 'Special Elite', cursive;
    display: block;
    margin: 0 auto;
}

.signupLink {
    margin: 0 auto;
    margin-top: 20px;
      width: 40%;
      padding: 10px;
      background-color: rgb(250, 244, 219);
      border-radius: 25px;
      border: 5px solid rgb(49, 25, 25);
      text-align: center;
}

/* sign up styling */

.form-input{
    width: 90%;
    height: 25px;
}